body {
     background-image: url(https://i.imgur.com/qu4DvZc.jpeg);
     color: white;
     font-family: 'Chakra Petch';
     text-align: center;
     text-transform: lowercase;
}

#nav {
     list-style-type: none;
     padding-inline-start: 0px;
     display: flex;
     justify-content: space-between;
     padding: 0 40px 0 40px;
     background-color: rgb(0,0,0, .2);
}

/* div form {
    display: none;
} */
#edit-form{
    display: none;
}
#sign-up{
    display: none;
}
#log-in{
    display: none;
}

.journal-entry {
    display: none;
}

main {
     width: 1000px;
     margin: 0 auto;
     padding-top: 60px;
}

#main-title {
     color: whitesmoke;
     animation: 2s ease-out 0s 1 slideIn;
     font-style: italic;
     font-size: 50px;
     text-shadow: -4px .5px 8px #ebf4ff;
     padding: 50px;
}

#index {
     list-style-type: none;
     margin-block-start: 0em;
     margin-block-end: 0em;
     padding-inline-start: 0px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 80px;
}

.modal {
     display: none;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

.modal-textbox {
	background-color: rgba(0,0,0,1);
	height: 250px;
	width: 450px;
	border-radius: 7px;
     margin: 150px auto;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
     padding: 20px;
     padding-top: 50px;
     animation-name: glow;
     animation-duration: 10s;
     animation-iteration-count: infinite;
}

.even {
     width: 10px;
     height: 10px;
     background-color: skyblue;
     border-radius: 9px;
     border: 1px solid gray;
     margin-top: 50px;
     animation-name: glow;
     animation-duration: 10s;
     animation-iteration-count: infinite;
}

.odd {
     width: 10px;
     height: 10px;
     background-color: thistle;
     border-radius: 9px;
     margin-top: 25px;
     animation-name: glow;
     animation-duration: 10s;
     animation-iteration-count: infinite;
}

.letter {
     width: 10px;
     height: 10px;
     background-color: palegoldenrod;
     border-radius: 9px;
     margin-top: 60px;
     animation-name: glow;
     animation-duration: 10s;
     animation-iteration-count: infinite;
}

#share-secret-form {
     padding-top: 100px;
}

button {
     background-color: skyblue;
     padding: 7px;
     color: white;
     border-radius: 4px;
     margin: 10px;
}

input[type=submit] {
     background-color: pink;
     padding: 10px;
     border-radius: 4px;
}

#submit {
     background-color: pink;
     padding: 10px;
     border-radius: 4px;
}

label {
    padding: 10px;
}


input[type=text]:focus {
    border-color:#333;
}

@keyframes glow {
     0% {
          box-shadow: 4px 4px 30px 1px thistle, -4px -4px 30px 1px thistle;
          transition: ease-in .5s;
     }
     25% {
          box-shadow: 4px 4px 30px 1px gray, -4px -4px 30px 1px gray;
          transition: ease-in .5s;
     }
     50% {
          box-shadow: 4px 4px 30px 1px palegoldenrod, -4px -4px 30px 1px palegoldenrod;
          transition: ease-in .5s;
     }
     100% {
          box-shadow: 4px 4px 30px 1px gray, -4px -4px 30px 1px gray;
          transition: ease-in .5s;
     }
}

@keyframes slideIn {
     0% {
          transform: translateX(-100%);
     }
     100% {
          transform: translateX(0)
     }
}
