nav {
    background-color: blanchedalmond;
}
/* li form {
    display: none;
}
#log-in{
    display: none;
} */
.journal-entry {
    display: none;
}

#new-secret {
     display: none;
}

.appFormDiv {
  max-width: 20em;
  border: 1px solid lightgrey;
  border-radius: .25em;
  padding: 2em 2em 6em 2em;
  margin: 2em auto;
  background-color:lightblue;
  filter: drop-shadow(0 2px 2px darkgrey);
}

.inputForm {
  display: flex;
  flex-direction: column;
}

.formTitle {
  margin: 0 auto 1em auto

}

.textInput {
  padding: .75em;
  font-size: 1.25em;
  margin: .25em;
  border-radius: .25em;
  border-color: rgba(70, 70, 70, .5);
  outline: none;
  filter: drop-shadow(0 1px 1px grey);
  color: darkgrey;
}

.textInput:hover {
    filter: drop-shadow(0 1px 1px white);
}

.errorMsg {
  color: darkred;
}
.submitBtn {
  margin: 2em;
  padding: 1em;
  background-color: rgba(150, 0, 150, .3);
  outline: none;
  border: none;
  border-radius: .25em;
  filter: drop-shadow(0 2px 2px grey);
  color: white;
  font-weight: 800;
  font-size: 1em;
  cursor: pointer;
}

.submitBtn:hover {
    filter: drop-shadow(0 2px 2px white);
}

.accountBtn {
  margin: 2em;
  padding: 1em;
  background-color: rgba(0, 150, 150, .3);
  outline: none;
  border: none;
  border-radius: .25em;
  filter: drop-shadow(0 2px 2px grey);
  color: white;
  font-weight: 800;
  font-size: 1em;
  cursor: pointer;
}

.accountBtn:hover {
    filter: drop-shadow(0 2px 2px white);
}

.logoutBtn {
  margin: 2em;
  padding: 1em;
  background-color: rgba(200, 0, 0, .5);
  outline: none;
  border: none;
  border-radius: .25em;
  filter: drop-shadow(0 2px 2px grey);
  color: white;
  font-weight: 800;
  font-size: 1em;
  cursor: pointer;
}

.logoutBtn:hover {
    filter: drop-shadow(0 2px 2px white);
}


.loggedInDiv {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: .5px solid white;
  border-radius: 2em;
  margin: 2em auto;
  padding: 5em 2em;
  background-color: lightgray;
  filter: drop-shadow(0px 3px 3px darkgrey);
}
